extends layout 

block metadata 
  title Explorar
  link(rel="stylesheet", href="/css/style.css")
  script(src="https://unpkg.com/@tailwindcss/browser@4")
  link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=arrow_circle_up")

block contenido 
  main(class='mx-auto p-4 flex flex-col items-center')
    form(action="/explorar" method="GET" class="flex items-center gap-2 bg-black/20 p-2 rounded-full border border-white/30 backdrop-blur-sm")
      input(type="text" name="keyword" placeholder="Buscar en publicaciones..." class="bg-transparent border-none outline-none text-white px-3 w-full text-xl")
      button(type="submit" class="text-white hover:text-blue-300 cursor-pointer px-2") 
        i(class="fa-solid fa-magnifying-glass")
          
    if etiquetasGuardadas && etiquetasGuardadas.length > 0
      div(class="flex flex-wrap gap-2 mt-2")
        p(class="text-xs text-white/70 w-full font-semibold") Filtrar por etiquetas:
        each tag in etiquetasGuardadas
          a(href=`/explorar?tag=${tag.nombre}` class="text-xs font-semibold text-blue-100 bg-blue-600/40 px-3 py-1.5 rounded-full hover:bg-blue-500 cursor-pointer transition-colors border border-blue-400/30 drop-shadow-md") 
            | ##{tag.nombre}
          
    div(class="mb-8 text-center mt-6")
      if palabraBuscada
        h2(class='text-sm text-blue-900 font-bold drop-shadow-md bg-white/40 px-6 py-2 rounded-full inline-block') Resultados para: "#{palabraBuscada}"
      else
        h2(class='text-sm text-blue-900 font-bold drop-shadow-md bg-white/40 px-6 py-2 rounded-full inline-block') Explorando todas las publicaciones

    if publicaciones && publicaciones.length > 0
      div(class='flex flex-col gap-8 m-7')
        each publis in publicaciones
          div(class='relative flex flex-col items-center mb-16 mt-9 mx-auto w-fit')
            div(class='bg-white/70 backdrop-blur-md rounded-3xl z-20 shadow-2xl border border-white/40 flex overflow-hidden w-fit transition-transform hover:scale-[1.01]')
              div(class='w-16 shrink-0 flex flex-col items-center py-6 border-r border-gray-200/50 bg-gray-50/30')
                if publis.Usuario && publis.Usuario.id
                  a(href=`/user/${publis.Usuario.id}` class="vertical-text text-center font-bold text-gray-600 hover:text-blue-600 tracking-widest text-sm uppercase transition-colors" style="writing-mode: vertical-rl; transform: rotate(180deg);") @#{publis.Usuario.username}
                else 
                  p(class="vertical-text font-bold text-gray-400 tracking-widest text-xs uppercase" style="writing-mode: vertical-rl; transform: rotate(180deg);") @anonimo
              
              div(class="bg-gray-200 overflow-hidden relative group h-auto w-[50vw]")
                if publis.imagenes && publis.imagenes.length > 0
                  div(class="flex transition-transform duration-500 ease-in-out h-full" id=`slider-${publis.id}`)
                    each image in publis.imagenes
                      div(class="min-w-full h-full flex items-center justify-center bg-black/5" data-imgid=image.id data-promedio=(image.promedio || '0.0') data-votousuario=image.votoUsuario)
                        img(src=image.src class="w-auto h-auto object-contain max-w-[50vw] max-h-[70vh]")
                  if publis.imagenes.length > 1
                    button(class="absolute left-2 top-1/2 -translate-y-1/2 bg-black/30 hover:bg-black/50 text-white p-2 rounded-full cursor-pointer opacity-0 group-hover:opacity-100 transition-opacity z-10" onclick=`cambiarFoto('${publis.id}', -1)`) 
                      i(class="fa-solid fa-chevron-left")
                    button(class="absolute right-2 top-1/2 -translate-y-1/2 bg-black/30 hover:bg-black/50 text-white p-2 rounded-full cursor-pointer opacity-0 group-hover:opacity-100 transition-opacity z-10" onclick=`cambiarFoto('${publis.id}', 1)`) 
                      i(class="fa-solid fa-chevron-right")
                
              div(class="shrink-0 w-70 p-6 flex flex-col justify-between bg-white/40")
                div 
                  h3(class='font-bold text-xl text-blue-900 drop-shadow-sm')= publis.title
                  p(class="text-sm text-gray-700 mt-2 leading-relaxed")= publis.description
                
                if publis.comments_allowed
                  p Comentarios
                  div(class='max-h-60 overflow-y-auto space-y-2 mb-3 pr-1 [&::-webkit-scrollbar]:w-1 [&::-webkit-scrollbar-track]:bg-transparent [&::-webkit-scrollbar-thumb]:bg-black/30 [&::-webkit-scrollbar-thumb]:rounded-full hover:[&::-webkit-scrollbar-thumb]:bg-blue-400' id=`contenedor-comentarios-${publis.id}`)
                    if publis.imagenes && publis.imagenes.length > 0
                      each image, index in publis.imagenes
                        div(id=`lista-comentarios-${image.id}` class='bg-white/40 rounded ' + (index === 0 ? 'block' : 'hidden'))
                          if publis.comentarios && publis.comentarios.length > 0
                            each comentario in publis.comentarios
                              div(class='p-2 border-b border-black/20')
                                if comentario.Usuario
                                  p(class='text-blue-500')= comentario.Usuario.username
                                else
                                  p(class='text-gray-400 italic') Usuario eliminado
                                span= comentario.texto
                          else  
                            p(class='text-gray-600') Se el primero en comentar...
                  
                  form.form_comentario(class='flex items-center')
                    if publis.imagenes && publis.imagenes.length > 0
                      input(type="hidden" name="ImagenId" value=publis.imagenes[0].id id=`input-img-${publis.id}`)
                    else
                      input(type="hidden" name="ImagenId" value="" id=`input-img-${publis.id}`)
                    input(type="text" placeholder='Escribe un comentario..' name="texto" class='flex-1 border bg-white/40 rounded pl-2')
                    button(type='submit' class='cursor-pointer flex-row') 
                      i(class="fa-solid fa-circle-arrow-up text-3xl text-blue-500/90 border-blue-600 hover:text-blue-500")
                else 
                  p Comentarios desactivados
                
            
            if publis.imagenes && publis.imagenes.length > 0
              div(class="bg-yellow-700/10 p-4 pt-8 -mt-6 rounded-b-2xl shadow-xl w-max px-6 text-center border border-white/40 relative z-10 transition-all hover:translate-y-1 hover:shadow-2xl")
                div.valoracion(id="caja-estrellas-"+publis.id class="flex justify-center gap-2" data-id=publis.imagenes[0].id data-elegido="0")
                  each num in [1, 2, 3, 4, 5]
                    if num <= publis.imagenes[0].votoUsuario
                      i.fa-solid.fa-star(class="text-yellow-400 cursor-pointer text-xl transition-all duration-200" data-valor=num onclick=`enviarValoracion('${publis.imagenes[0].id}',${num}, '${publis.id}')`) 
                    else  
                      i.fa-regular.fa-star(class="text-yellow-400 cursor-pointer text-xl transition-all duration-200" data-valor=num onclick=`enviarValoracion('${publis.imagenes[0].id}', ${num}, '${publis.id}')`)  
                  span(id="promedio-"+publis.imagenes[0].id class="text-white font-semibold ml-2 promedio-span") #{publis.imagenes[0].promedio || '0.0'}

    else
      div(class="bg-white/20 p-10 rounded-3xl text-center shadow-lg mt-10 border-white border")
        p(class='text-white text-2xl font-semibold') No se encontraron publicaciones que coincidan con la busqueda.
        p(class='text-white/80 mt-2') Probá buscando con otras palabras.